# environment variables
.env

# dependencies
node_modules/
venv/
.venv/

# python
__pycache__/
*.pyc
*.pyo

# build files
dist/
build/

# logs
*.log
out.txt

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
